{% extends 'cards/base.html' %}
{% block content %}
<div class="card p-4 mx-auto" style="max-width: 400px;">
  <h4 class="text-center mb-3">Вход</h4>

  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" class="form-control mb-2" placeholder="Логин" required>
    <input type="password" name="password" class="form-control mb-3" placeholder="Пароль" required>

    <button class="btn btn-primary w-100">Войти</button>
  </form>

  <p class="text-center mt-3">
    Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a>
  </p>
</div>
{% endblock %}
